################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/ReflectionSamples/bin/Debug/netcoreapp3.1
/ReflectionSamples/obj
/ReflectionSamples.Plugin/obj
/ReflectionSamples.Plugin/bin/Debug/netcoreapp3.1
/ReflectionSamples.Abstracts/obj
/ReflectionSamples.Plugins.Abstracts/obj
/ReflectionSamples.Plugins.Abstracts/bin/Debug/netcoreapp3.1
